<div class="container">
    <h2 style="margin:50px 0px;">Mario Game :</h2>



    <!-- <button (click)="decrement()">-</button> {{value}}
    <button (click)="increment()">+</button> -->
    <div class="col" align="center">
        <form>
            <input type="number" [(ngModel)]="rows" name="rows" placeholder="rows" required/>
            <input type="number" [(ngModel)]="colums" name="colums" placeholder="rows" required/>
            <button (click)="startGame()" type="button">Start Game</button>
        </form>
    </div>
    <div *ngIf="gameStart" align="center" style="margin:20px 0px;">
        <h4>Game Starts in few Seconds ...</h4>
    </div>
    <div class="col-12" style="margin-top: 30px;" align="center" id="mario">
        <!-- <table class="table table-bordered">
                <tbody> -->
        <tr *ngFor="let col of rowArray; index as i">
            <td *ngFor="let col of colArray; index as j" style="height: 50px; width: 50px; border: 2px solid;" [id]="i+'.'+j">
                <!-- <img width="40" height="40" src="../assets/img/mushroom.jpg" alt=""> -->
            </td>
        </tr>
        <!-- </tbody>
            </table> -->
    </div>

    <div *ngIf="gameOver" align="center" style="margin:20px 0px;">
        <h4>Game Over <a style="font-style: 10px; text-decoration: underline; color: blue; cursor: pointer;" (click)="restart()">ReStart</a></h4>
        <h6>Score&nbsp;:&nbsp;<strong>{{totalScore}}</strong></h6>
    </div>
</div>